<div class="container">
    <h2 class="text-success text-center">Booom Create your own Quote</h2>
    <hr>
    <form #quoteForm='ngForm' (ngSubmit)='quoteSubmit()'>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" required [(ngModel)]="newQuote.name" #name='ngModel'>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>This filed must be filled</p>
            </div>
            <!-- displaying data to user -->
            <!-- display {{newQuote.name}} -->
        </div>
        <div class="form-group">
            <label for="name">Type of Quote </label>
            <input type="text" name="tittleQuote" id="tittleQuote" class="form-control" required [(ngModel)]="newQuote.tittleQuote" #tittleQuote='ngModel'>
            <div [hidden]="tittleQuote.valid ||tittleQuote.pristine" class="alert alert-danger">
                <p>This filed must be filled</p>
            </div>
                     <!-- displaying data to user -->
                     <!-- display {{newQuote.tittleQuote}} -->
        </div>
        <div class="form-group">
            <label for="messageQuote">Main Quote</label>
            <textarea name="messageQuote" id="messageQuote" cols="" rows="10" required class="form-control" [(ngModel)]="newQuote.messageQuote" #messageQuote='ngModel'></textarea>
            <div [hidden]="messageQuote.valid ||messageQuote.pristine" class="alert alert-danger">
                <p>This filed must be filled</p>
            </div>
                     <!-- displaying data to user -->
                     <!-- display {{newQuote.messageQuote}} -->
        </div>
        <div class="form-group">
            <label for="author">Authors Name</label>
            <input type="text" name="author" id="author" class="form-control" required [(ngModel)]="newQuote.author" #author='ngModel'>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>This filed must be filled</p>
            </div>
                     <!-- displaying data to user -->
                     <!-- display {{newQuote.author}} -->
        </div>
        <div class="form-group">
            <label for="postedOn">Posted On</label>
            <input type="text" name="postedOn" id="postedOn" class="form-control" required [(ngModel)]="newQuote.postedOn" #postedOn='ngModel'>
            <div [hidden]="postedOn.valid || postedOn.pristine" class="alert alert-danger">
                <p>This filed must be filled</p>
            </div>
                     <!-- displaying data to user -->
                     <!-- display {{newQuote.postedOn}} -->
        </div>
        <button class="btn btn-success btn-lg mt-3">Add Quote</button>
    </form>
</div>
