<hr>
<p class="text-black">Quote Type: {{myQuote.tittleQuote}}</p>

<p class="text-danger">{{myQuote.messageQuote}}</p>

<div class="row ">
    <div class="col-6 col-lg-6 col-sm-12">
        <p>Posted By: <span>{{myQuote.author}}</span></p>
    </div>
</div>

<hr>


<div class="row " >
    <div class="col-4 col-lg-4 col-sm-12">
        <button  (click)="onClickLikes()" class="btn btn-medium btn-success mt-3 mb-3">Likes
            {{numberOfLikes}}</button> 
    </div>
    <div class="col-4 col-lg-4 col-sm-12">
        <button (click)="onClickDislike()" class="btn btn-medium btn-secondary mt-3 mb-3">Dislike
            {{numberOfDislikes}}</button>
    </div>
    <div class="col-4 mt-3 mb-3 col-lg-4 col-sm-12">
        <button (click)='quoteComplete(true)' class="btn btn-danger">Delete Quote</button> 
    </div>
</div>
<p class="mt-2 mb-3 text-center tyext-warning">This Quote was posted for {{myQuote.postedOn|date|datesCount}} days</p>