
<div class="container">
    <h1 class="header">Welcome to Quotes-App</h1>
    <hr>
    <h3 class="text-">Quote App </h3>
    <p class="text-dark">welcome in this website where you can create your own <em>Quote </em> and post it and see how many people will like your quote</p>
    <p>Enjoy </p>
    <div class="jumbotron bg-light col-5 info">
        <div class="row">
            <div>
              <ul>
                <!-- to display name of user to write the quote -->
                <li *ngFor="let quote of  myQuote" class="text-primary">
                    {{quote.name}} 
                  <app-quotes-details [myQuote]="quote"></app-quotes-details>
                </li>
               </ul>
            </div>
          </div>
    </div>
    <div class="jumbotron bg-light col-5 info mt-3">
        <div class="row">
            <div>
              <ul>
                <!-- to display name of user to write the quote -->
                <li *ngFor="let quote of  myQuote" class="text-primary">
                    {{quote.name}} 
                  <app-quotes-details [myQuote]="quote"></app-quotes-details>
                </li>
               </ul>
            </div>
          </div>
    </div>
  </div>