/* You can add global styles to this file, and also import other style files */
@import"~bootstrap/dist/css/bootstrap.css";
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0px;
}
body{
    background-color: #cddead;
}
.header{
    text-align: center;
    color: #a52c2c;
}
li{
    /* color: aliceblue; */
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
  

}
span{
    color:darkgreen;
}
p{
    color:black
}
.info{
    border-radius: 5px;
}
.btn-success{
 margin-left: 2rem;
 margin-right: 5rem;
}